body{
  background-image:linear-gradient(rgb(189, 192, 37),rgb(250, 234, 9));
  /* background-color:yellow; */
  background-attachment: fixed;

}
.container{
  max-width: 300px;
  min-height: 450px;
  margin: 0 auto;
  background-image:linear-gradient(rgba(216, 8, 243, 0.692),rgba(17, 10, 49, 0.3));
  box-shadow: 0 0 10px gray;
  margin: 50px auto;
  padding: 15px 50px;
  box-shadow: inset -6px -5px 5px rgb(201, 241, 22), inset  5px 5px 5px rgb(7, 23, 255);
  border-radius: 30px;
  color: #fff;
  
}
.text-center{
  text-align: center;
}

.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  /* box-shadow: 0 0 10px gray; */
  text-align: center;
  box-shadow: inset -1px -1px 1px rgb(201, 241, 22), inset  1px 1px 1px rgb(7, 23, 255);
  border-radius: 10px;
  color: #000;
}

.transaction-list {
  margin: 0px;
  padding: 0px;
}
.transaction-list > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 7px 0;
  box-shadow: 0 0 10px gray;
  background-color: #fff;
  box-shadow: inset -1px -1px 1px rgb(201, 241, 22), inset  1px 1px 1px rgb(7, 23, 255);
  border-radius: 10px;
  color: #000;

}


.transaction-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

.transaction-form input[type=submit]{
  background-color: #76c51d ;
  color: #fff;
  font-weight: bolder;
  
}
.transaction-form input[type=submit]:hover{
  background-color: rgba(7, 156, 119, 0.2) ;
  color: rgb(71, 13, 233);
}



.transaction-form input::placeholder{
  margin: 5px;
  padding: 5px;
  font-weight: lighter;
}



.crossSign{
  color: #fff;
  background-color: rgb(219, 10, 202);
  margin: 0  0 0 15px ;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;


}
.crossSign:hover{
  cursor: pointer;
  background-color: rgb(235, 49, 25);
  
}

.Creator{
  text-align: center !important;
  justify-content: center !important;
  justify-self: center !important;
  font-weight: bolder !important;
  
  box-sizing: border-box;
  text-justify: auto;
justify-content: space-between;
}















